{% extends "base.html" %}

{% block "content" %}
  <div class="container-fluid fluid brown">
    <div class="row">
      <div class="col-md-12">

        <div style="text-align:center;">

          Hello There <br/>
          {{member.email}}
          <br/><br/>
          we have activated your subscription.
          <br/><br/>
          thanks for trying out reddit.cool, <br/>
          we hope you will enjoy your mails. <br/> <br/>
          if you have any feedbacks <br/>
          we would like to hear from you.
          <br/><br/>
          email us at <br/> <span class="primary-color">hello@reddit.cool</span>
          </a>
        </div>

      </div> <!-- /col-xs-6 -->
    </div> <!-- /row -->

  </div>
{% endblock %}
