{% extends "base.html" %}

{% block "content" %}
  <div class="container-fluid fluid brown">
    <div class="row">
      <div class="col-md-12">

        <div style="text-align:center;">

          Hello There <br/>
          Welcome on board! <br/><br/>

          We have sent an activation link to your e-mail <br/>
          {{member.email}}
          <br/><br/>
          You will start receiving your mails once the activation process completed.
          <br/><br/>
          enjoy!
        </div>

      </div> <!-- /col-xs-6 -->
    </div> <!-- /row -->

  </div>
{% endblock %}
