{% extends "base.html" %}

{% block "content" %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- <div class="card">
        {{member.email}} - preferences
        </div> -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="react-container"></div>
      </div>
    </div> <!-- /row -->

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div style="text-align:center;">
          <a href="{{host}}members/complete?member={{member.member_uuid}}&token={{member.member_token}}" class="btn btn-reddit">
            Complete Subscription <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block "jsimports" %}

  {{ block.super }}

  <script type="text/javascript">
   var member = {
     "email": "{{member.email}}",
     "member_uuid": "{{member.member_uuid}}"
   };
  </script>
  <script type="text/javascript" src="/static/js/preferences.js"></script>

{% endblock %}
