{% extends "base.html" %}

{% block "content" %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- <div class="card">
        {{member.email}} - preferences
        </div> -->
      </div>
    </div>

    <div class="row">

      <div class="col-md-12">
        <div id="react-container"></div>
      </div>
    </div> <!-- /row -->

  </div>
{% endblock %}

{% block "jsimports" %}
  <!-- include javascripts -->
  {{ block.super }}
  <script type="text/javascript" src="https://fb.me/react-0.13.3.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/preferences.js"></script>
{% endblock %}
