{% extends "base.html" %}

{% block "content" %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- <div class="card">
        {{member.email}} - preferences
        </div> -->
      </div>
    </div>

    <div class="row">

      <div class="col-md-12">
        <div id="react-container"></div>
      </div>
    </div> <!-- /row -->

  </div>
{% endblock %}

{% block "jsimports" %}

  {{ block.super }}

  <script type="text/javascript">
   var member = {
     "email": "{{member.email}}",
     "member_uuid": "{{member.member_uuid}}"
   };
  </script>
  <script type="text/javascript" src="/static/js/preferences.js"></script>

{% endblock %}
