{% extends "base.html" %}

{% block "content" %}
  <div class="container-fluid fluid brown">
    <div class="row">
      <div class="col-md-12">

        <div style="text-align:center;">


          hello there <br/>
          {{member.email}}
          <br/><br/>
          we have moved your subscription rate to weekly rate.
          <br/><br/>

          uh oh! if you clicked that button accidentally
          you can move back to <br/>
          <a href="{{host}}members/todaily?member={{member.member_uuid}}&token={{member.member_token}}">daily subscription.</a>

        </div>

      </div> <!-- /col-xs-6 -->
    </div> <!-- /row -->

  </div>
{% endblock %}
