*.py[c,o]
*~
\#*\#
\.\#*
django
settings_local.py
*.db
TAGS
data
docs/_build
docs/build
docs/api
docs/*.html
.coverage
coverage
cover
.DS_Store
__MACOSX
.vagrant
manifests/build
initial_data_backup.json
.ropeproject
.idea
.*.sw[pon]
newrelic.ini
*.mo
log/*
logs/*
do.org
fabfile.py
*.sass-cache/