/* $primary-color-half-dark: #484848; */
/* $primary-color-full-dark: #3D3D3D; */
/* $secondary-color: #FFD503; */
/* $tertiary-color: #E85151; */
/* font-sizes */
html, body {
  height: 100%;
  min-height: 100%;
  /* background-color: $base-background-color; */
  background-color: #FDFDFD;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #010101;
}
@media (max-width: 1200px) {
  html, body {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  html, body {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  html, body {
    font-size: 12px;
  }
}
html #content, body #content {
  height: auto;
  min-height: 100%;
  padding-bottom: 100px;
  font-size: 1.2em;
}
html a, body a {
  color: #FF4500;
}
html a:hover, body a:hover {
  color: #FF4500;
}
html .primary-color, body .primary-color {
  color: #FF4500;
}

.header {
  /* background-color: $white; */
  /* border-bottom: 7px solid #eee; */
  /* background-color: #eee; */
  border-bottom: 7px solid #FDFDFD;
  /* margin-bottom: 30px; */
}
.header .logo-wrapper img.logo {
  margin: 30px auto;
}

.footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 100px;
  margin-top: -100px;
  padding-top: 30px;
  /* background-color: $white; */
  /* border-top: 10px solid #eee; */
  background-color: #eee;
  border-top: 10px solid #FDFDFD;
  font-weight: 700;
  color: #0A0A0A;
}

.card {
  padding: 30px 40px;
  border-left: 7px solid #525252;
}

.action-icon {
  padding: 8px 13px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
}
.action-icon:hover {
  background-color: #222;
  color: #fff;
}
.action-icon.impossible {
  color: red;
  cursor: not-allowed;
}
.action-icon.impossible:hover {
  background-color: #fff;
}

.preference-form .form-control {
  max-width: 250px;
  display: inline-block;
  padding: 5px 10px;
  margin-right: 15px;
  vertical-align: middle;
  outline: none;
}
.preference-form .select-box {
  width: 130px;
  display: inline-block;
  padding: 5px 15px;
}
.preference-form .btn i {
  font-size: 0.7em;
  padding: 0 5px;
}

.empty {
  display: none;
}

.panel-heading {
  background-color: #EB5A33 !important;
  color: #FDFDFD !important;
}

/* typeahead */
.tt-menu {
  max-width: 250px;
  background-color: #fff;
  padding: 10px;
  font-weight: normal;
  font-size: 0.7em;
  border: 1px solid #ddd;
}
.tt-menu .tt-suggestion {
  border-bottom: 1px solid #ddd;
  padding: 7px 0;
  cursor: pointer;
}
.tt-menu .tt-suggestion:hover {
  padding-left: 5px;
}
.tt-menu .tt-suggestion:last-child {
  border-bottom: none;
}

.table {
  font-weight: normal;
}
@media (max-width: 800px) {
  .table tbody tr td, .table th {
    text-align: left;
    vertical-align: middle;
  }
  .table tbody tr td .action-icon, .table th .action-icon {
    padding: 3px;
  }
}
