// layout
$footer-height: 100px;

// font weights
$light:     300;
$regular:   400;
$semibold:  600;
$bold:      700;
$extrabold: 800;

// font class
$base-font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;

// colors
$base-background-color: #f3f3f3;
$base-text-color: #010101;
$primary-color: #FF4500;
/* $primary-color-half-dark: #484848; */
/* $primary-color-full-dark: #3D3D3D; */
/* $secondary-color: #FFD503; */
/* $tertiary-color: #E85151; */
$white: #FDFDFD;
$black: #0A0A0A;
$green: #79C850;
$red: #EF5151;

// media sizes
$smallscreen: 1000px;
$containerwidth: 1024px;


/* font-sizes */
$base-font-size: 13px;
$small-font-size: 0.7em;
$large-font-size: 1.2em;
$xlarge-font-size: 1.4em;