html, body {
    height: 100%;
    min-height: 100%;
    /* background-color: $base-background-color; */
    background-color: $white;
    font-family: $base-font-family;
    font-size: $base-font-size;

    @media (max-width: 1200px) {font-size: 14px;}
    @media (max-width: 1000px) {font-size: 14px;}
    @media (max-width: 800px) {font-size: 12px;}

    font-weight: $bold;
    color: $base-text-color;

    #content {
        height: auto;
        min-height: 100%;
        padding-bottom: $footer-height;
        font-size: $large-font-size;
    }

    a {
        color: $primary-color;
        &:hover {color: $primary-color;}
    }

    .primary-color {color: $primary-color;}
}