.fluid {
  padding-top: 80px;
  padding-bottom: 80px;
  /* margin: 40px auto; */

  &.gray {
    background-color: #F6F4F3;
  }

  &.blue {
    background-color: #AABADC;
  }

  &.brown {
    background-color: #FCEDCC;
  }
}
