.footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: $footer-height;
    margin-top: -$footer-height;
    padding-top: 30px;

    /* background-color: $white; */
    /* border-top: 10px solid #eee; */
    background-color: #eee;
    border-top: 10px solid $white;
    font-size: $base-font-size;
    font-weight: $bold;
    color: $black;
}
