.header {
  /* background-color: $white; */
  /* border-bottom: 7px solid #eee; */
  /* background-color: #eee; */
  border-bottom: 7px solid $white;
  /* margin-bottom: 30px; */
  text-align: center;

  .logo-wrapper {
    img.logo {
      margin: 30px auto;
    }
  }
}
