.action-icon {
    padding: 8px 13px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;

    &:hover {
        background-color: #222;
        color: #fff;
    }

    &.impossible {
        color: red;
        cursor: not-allowed;

        &:hover {
            background-color: #fff;
        }
    }
}