{% extends "base.html" %}

{% block "content" %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          do you hate missing top
          <span class="primary-color">reddit</span> content <br/>
          from your <span class="primary-color">favourite</span> subreddits?
        </div>
      </div> <!-- /col-xs-12 -->
    </div> <!-- /row -->
  </div>


  <div class="container-fluid fluid gray" style="margin-bottom: 0;">
    <div class="row flex">

      <div class="col-md-6 flex">
        <div class="block">
          <img alt="" src="/static/img/setup.png" width="600px"/>
        </div>
      </div> <!-- /col-md-6 -->


      <div class="col-md-6 flex">
        <div class="features">
          <h3>Setup your account</h3>
          <ul>
            <li>Select subreddits you love</li>
            <li>Set how many links you want from each subreddit</li>
            <li>Manage your selected subreddits</li>
            <li>Change mail period as daily or weekly anytime</li>
          </ul>
        </div>

        <!-- explain setup -->
      </div>
    </div> <!-- /row -->
  </div>

  <div class="container-fluid fluid blue" style="margin-top: 0;">
    <div class="row flex">
      <div class="col-md-6 flex">
        <div class="features">
          <h3>Enjoy your mails</h3>
          <ul>
            <li>Get your mails everyday around 8 A.M. <br/>
              or, every monday morning if you wish.</li>
            <li>See the example mail, </li>
          </ul>
        </div>
      </div>

      <div class="col-md-6">
        <div class="block">
          <img alt="" src="/static/img/example.png" width="600px"/>
        </div>
      </div> <!-- /col-md-6 -->
    </div>
  </div>
{% endblock %}
