{% extends "base.html" %}

{% block "content" %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <div class="card">
          Sorry! <br/>
          We are not there yet! <br/><br/>

          We work really hard to let people <br/>
          use reddit.cool as soon as possible. <br/> <br/>

          If you want to say anything, <br/>
          shot us an email to <br/>
          <span class="primary-color">contact@reddit.cool</span>
        </div>

      </div> <!-- /col-xs-6 -->
    </div> <!-- /row -->

  </div>
{% endblock %}
