<!--
IMPORTANT: never use newlines on text messages,
since we are removing /n's while in the process of maillib.minify
-->

<html>
  <head>
    <title>Example Reddit.cool Email</title>
  </head>

  <tbody><tr>
    <td style="border-collapse:collapse">

      <table style="max-width:575px;width:100%" align="center" cellpadding="0" cellspacing="0" width="575">
        <tbody>
          <tr><td style="font-size:0;line-height:0;border-collapse:collapse" height="37">&nbsp;</td></tr>
          <tr>
            <td style="border-collapse:collapse;padding:0 10px 0 0">
              <div>
                <a href="http://producthunt.us3.list-manage2.com/track/click?u=17493a0db65f334e9d8a22315&amp;id=386f1cdb19&amp;e=05f6e85eb3" style="color:#dc5425" target="_blank">
                  <img class="CToWUd" src="http://i.imgur.com/vrRy5Zt.png"
                       style="outline:none;text-decoration:none;border:none;display:block;min-height:auto!important;max-width:620px!important;width:100%!important">
                </a>
              </div>
            </td>
          </tr>
          <tr><td style="font-size:0;line-height:0;border-collapse:collapse" height="34">&nbsp;</td></tr>

          <tr>
            <td style="border-collapse:collapse">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tbody><tr>
                  <td style="border-collapse:collapse;background-color:#e0e0e0;border-radius:5px;color:#564943;font-family:'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:16px;line-height:24px;padding:0 20px 0 20px" bgcolor="#e0e0e0">
                    <table cellpadding="0" cellspacing="0" width="100%">
                      <tbody><tr><td style="font-size:0;line-height:0;border-collapse:collapse" height="26">&nbsp;</td></tr>
                        <tr>
                          <td style="border-collapse:collapse">
                            <div>Hello! This is a fan-made newsletter for reddit. If you love reddit content at your inbox, maybe you should checkout reddit's official newsletter:
                              <a href="" style="color:#dc5425" target="_blank">upvoted-weekly.</a></div>
                          </td>
                        </tr>
                        <tr><td style="font-size:0;line-height:0;border-collapse:collapse" height="26">&nbsp;</td></tr>
                      </tbody></table>
                  </td>
                </tr>
                </tbody></table>
            </td>
          </tr>

          <tr>
            <td style="border-collapse:collapse">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                  <tr><td style="font-size:0;line-height:0;border-collapse:collapse" height="10">&nbsp;</td></tr>
                  <tr>
                    <td style="border-collapse:collapse">
                      <table cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                          <tr>
                            <td style="border-collapse:collapse">
                              <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody><tr>
                                  <td style="padding:0 13px 0 0;border-collapse:collapse">
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
                                        {% for subreddit, links in data.iteritems %}
                                          <tr class="ayrac"><td style="font-size:0;line-height:0;border-collapse:collapse" height="25">&nbsp;</td></tr>
                                          <tr>
                                            <td style="border-collapse:collapse">
                                              <div style="display:inline;font-family:'Helvetica Neue', Helvetica,Arial,'Lucida Grande', sans-serif;font-size:22px;
                                                          font-weight:600;line-height:30px">
                                                <a href="" style="color:#FF4500;text-decoration:none" target="_blank">
                                                  {{ subreddit | lower }}
                                                </a></div>
                                            </td>
                                          </tr>

                                          {% for link in links %}
                                            <tr class="ayrac"><td style="font-size:0;line-height:0;border-collapse:collapse" height="3">&nbsp;</td></tr>
                                            <tr>
                                              <td>
                                                <div><a href="{{ link.url }}"
                                                        style="border-collapse:collapse;color:#534540;font-family:'Helvetica Neue',Helvetica,Arial,
                                                               'Lucida Grande',sans-serif;font-size:16px;line-height:24px;text-decoration:none;font-weight:bold;">
                                                  {{link.title | truncatechars:150 | safe}}
                                                </a></div>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td style="border-collapse:collapse; font-family: 'Helvetica Neue',Helvetica,Arial,'Lucida Grande',
                                                         sans-serif;font-size:13px; font-weight:400;line-height:24px" align="left">
                                                <div>
                                                  <a href="{{link.comments_permalink}}" style="color:#a9a29f;text-decoration:none" target="_blank">
                                                    <img src="http://i.imgur.com/ZZWWbMS.png"
                                                         style="outline:none;text-decoration:none;border:none;min-height:11px;width:12px;padding:0 5px 0 0"> {{link.score}}

                                                    <img src="http://i.imgur.com/NQGzj5Z.png"
                                                         style="outline:none;text-decoration:none;border:none;min-height:12px;width:13px;padding:0 5px 0 15px"> {{link.comments_count}} </a>
                                                </div>
                                              </td>
                                            </tr>
                                          {% empty %}
                                            <td style="border-collapse:collapse;color:#534540;font-family:'Helvetica Neue',Helvetica,Arial,
                                                       'Lucida Grande',sans-serif;font-size:16px;line-height:24px;font-weight:bold;">
                                              <div>sorry, no links could have been parsed for this subreddit. :(</div>
                                            <!-- </td> -->
                                          {% endfor %}
                                        {% endfor %}
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr><td style="font-size:0;line-height:0;border-collapse:collapse" height="23">&nbsp;</td></tr>
                                </tbody></table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>

                  <!-- ============= nah buraya kadar loop =========== -->
                  <tr><td style="font-size:0;line-height:0;border-collapse:collapse" height="13">&nbsp;</td></tr>
                </tbody>
              </table>
            </td>
          </tr>

          <tr>
            <td style="border-collapse:collapse">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tbody><tr>
                  <td style="font-size:0;line-height:0;border-collapse:collapse" height="1" bgcolor="#f6f8f1">&nbsp;</td>
                </tr>
                <tr>
                  <td style="color:#9b928f;font-family:'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:16px;
                             line-height:24px;padding:30px 0 6px 0;border-collapse:collapse">
                    if daily mails are too much, you may <a href="" style="color:#534340;font-weight:600" target="_blank">switch to <span class="il">weekly</span> emails.</a>
                  </td>
                </tr>
                <tr>
                  <td style="color:#9b928f;font-family:'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:12px; line-height:18px;padding:0 0 16px 0;border-collapse:collapse">
                    you can always update your subreddit <a href="" style="color:#534340;font-weight:600" target="_blank">subscriptions</a>, or, if you are not a true reddittor at all <a href="" style="color:#534340;font-weight:600" target="_blank">unsubscribe.</a>
                  </td>
                </tr>
                <tr>
                  <td style="color:#cdc8c7;font-family:'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:12px;line-height:24px; padding:0 0 30px 0;border-collapse:collapse">
                    this project is not affiliated with reddit inc.
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>

    </td>
  </tr>
  </tbody>
</html>

<!-- orjinal koyu siyah: #534540 -->
<!-- orjinal gri: #988F8C -->
